body {
  font-family: "poppins", sans-serif;
  background-color: #041334;
  color: #fff;
  font-size: 18px;
  line-height: 1;
}

header {
  padding: 16px 0;
  box-shadow: 0px 4px 8px rgb(0, 0, 0, 0.3);
}

.text-primary {
  color: #00ffff !important;
}

.nav-link.active {
  color: #00ffff !important;
}

.nav-link,
nav-link:visited {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-right: 24px;
  transition: all 0.3s linear;
}

.nav-link:hover,
.nav-link:active {
  color: #00ffff;
}

.primary-heading {
  font-size: 64px;
  line-height: 1.3;
  letter-spacing: -1px;
  margin-bottom: 24px;
  color: #fff;
  font-weight: bold;
}

.hero-img {
  width: 80%;
}

.hero-section p {
  font-size: 18px;
  margin-bottom: 48px;
}

.hero-input {
  padding: 8px 32px;
  background-color: transparent;
  border: 2px solid #00ffff;
  margin-right: 16px;
  box-shadow: 0px 4px 8px rgb(0, 0, 0, 0.3);
}

.hero-input:focus {
  box-shadow: 4px 8px 16px rgba(0, 255, 255, 0.27);
}

.btn-primary {
  background-color: #00ffff;
  color: #041334;
  font-weight: 500;
  font-size: 18px;
  padding: 8px 32px;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background-color: #00ffffe0;
  color: black;
}

.bg-overlay {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #00ffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  filter: blur(100px);
}

.bg-darkblue {
  background-color: #04112f;
}

.secondary-heading {
  font-size: 48px;
  line-height: 1.2;
  font-weight: 500;
  margin-bottom: 24px;
}

.wallet-image {
  height: 48px;
  width: 48px;
}

.card {
  border-radius: 24px;
  transition: all 0.3s linear;
  cursor: pointer;
  box-shadow: 4px 8px 16px rgba(0, 255, 255, 0.27);
  padding: 16px 24px !important;
}

.card:hover {
  transform: translateY(-10px);
}

ul,
li {
  padding-left: 0;
}

.check {
  width: 32px;
  height: 32px;
  margin-right: 16px;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

#scrollToTop {
  font-size: 20px;
  text-align: center;
}



@media (max-width: 769px) {
  .secondary-heading {
    font-size: 32px;
  }

  .primary-heading {
    font-size: 48px;
  }

  .container {
    padding-inline: 10px !important;
  }

  .hero-input {
    display: block;
    margin-inline-start: auto;
    width: 100%;
  }
}
